*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-color: #FE9900;
    height: 100vh;
}
h3{
    display: flex;
    align-items: flex-end;
    gap: 6px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
@keyframes mymove{
    0%{
        transform: rotate(0deg);
    }
    50%{
        transform: rotate(180deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
.logo-img{
     width: 20px;
    border-radius: 6px;
    position: relative;
    animation: mymove 5s infinite 5s;
    /* animation: name duration timing-function delay iteration-count direction fill-mode; */
}
img{
    width: 20px;
    border-radius: 6px;
}
img:hover{
    transform: scale(1.05);
}
nav{
    display: flex;
    align-items: flex-end;
    width: 100%;
    margin: 0 auto;
    justify-content: center;
    gap: 130px;
    background: white;
    padding: 20px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 30;
}

a{
    display: inline-block;
    text-decoration: none;
    color: grey;
    padding-right: 20px;
}
a:hover{
    color: black;
    transform: scale(1.3);
}
.btn{
    display: flex;
    gap: 20px;
    position: relative;
}
.btn-1{
    padding: 4px;
    border-radius: 6px;
    background-color: #E07E1B;
    border: none;
    color: white;
    cursor: pointer;
   animation: btn 5s infinite;
}
.btn-1:hover{
    background-color: black;
    transform: scale(1.5);
}
input{
    border-radius: 6px;
    padding: 5px;
    border: 1px solid grey;
}

i{
    position: absolute;
    right: 80px;
    top: 6px;
    color: grey;
}
.section-1{
    display: flex;
    margin: 100px auto;
    width: 900px;
    justify-content: space-between;
    height: 200px ;
    
}
.list{
    background-color: white;
    width: 390px;
    list-style: none;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    margin-right: 20px;
    height: fit-content;
}
li{
    margin-bottom: 6px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    list-style: none;   
    border: 2px solid #F1F2F9;
}
.Images{
    width: 100px;
    margin: 3px;
}
.list-info{
    background-color: white;
    width: 390px;
    height: fit-content;
    padding: 10px;
    border-radius: 10px;
    border: 8px solid #F1F2F9;
}
h2{
    margin-bottom: 3px;
}
.mid-guy{
    background-color: #F1F2F9;
    text-align: center;
    padding: 15px;
    margin-top: 150px;
    border-radius: 20px;
    width: 100%;
}
.section-2{
     display: flex;
    margin: 100px auto;
    width: 1200px;
    justify-content: space-between;
    
}
ol{
    background-color: white;
    text-align: center;
    padding: 16px;
    border-radius: 10px;
    position: sticky;
    top: 210px;
    border: 8px solid #F1F2F9;
}
.right-section-2{
    display: flex;
    flex-direction: column;

    width: 340px;
}
.price-1{
    background-color: white;
    text-align: center;
    color: #E07E1B;
    display: block;
    padding: 10px;
    border-radius: 19px;
    margin: 10px;
}
.Plane{
    width: 300px;
}
footer{
    background-color: #F1F2F9;
    text-align: center;
    padding: 20px;
    width: 100%;
}